

.container {
    width: 500px;
    height: 500px;
      background-color: #333;
     margin: auto;
     margin-top:130px;
     transform: scale(1.1);
     background: radial-gradient(ellipse at bottom, #cde7e0 -10%, #45a0c7 70%);
  }
  /* .triangle{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    top: 430px;
    left: 200px;
    

}

.triangle2{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    top: 330px;
    left: 200px;
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    top: 275px;
    left: 215px;
    transform: rotate(90deg);
    
}

.triangle4{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 430px;
    left: 200px;
    transform: rotate(-90deg);


}
.triangle5{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 330px;
    left: 200px;
    transform: rotate(180deg);

}
.carre{
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    top: 239.5px;
    left: 220px;
}
.parallelogram{
    position: absolute;
    background-color: #81b442;
    width: 64px; 
    height: 70px;
    top: 150px;
    left: 200px;
    transform: skew(40deg) rotate(0deg);

    
} */