.triangle{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    top: 330px;
    left: 200px;
    transform: rotate(0deg);
    

}

.triangle2{
    top: 229.5px;
    left: 200px;
    transform: rotate(0deg);
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    top: 175.5px;
    left: 215px;
    transform: rotate(90deg);
    
}

.triangle4{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 330px;
    left: 200px;
    transform: rotate(-90deg);


}
.triangle5{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    top: 230px;
    left: 200px;
    transform: rotate(180deg);

}
.carre{
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    top: 140px;
    left: 220px;
}
.parallelogram{
         transform: rotate(150deg);
         top: 50px;
         left: 220px;
}