
.triangle{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    transition: 0.5s;
    left: 80px;
    top: 240px;
}
.triangle2{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transition: 1s;
    top: 350px;
    left: 150px;
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transition: 1.5s; 
    top: 290px;
    left: 250px;
}

.triangle4{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transition: 2s;
    top: 45px;
 left: 200px;
 transform: rotate(20deg);
   

}
.triangle5{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transition: 2.5s;
    left: 290px;
    top: 140px;
    transform: rotate(180deg);
}
.carre{
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;;
    transition: 3s;
    top: 10px;
    left: 300px;
}
.parallelogram{
    position: absolute;
    background-color: #81b442;
    width: 115px; 
    height: 60px;
    transition: 3.5s;
    position: absolute;
    background-color: #81b442;
    width: 115px; 
    height: 60px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
         transform: rotate(154deg);
         top: 35px;
         left: 80px;
         transition: 3.5s;
}
