 .triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #d2696a;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 30px;
  left: 181px;
  transform: rotate(275deg);
}
.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #7e2b7c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 3px;
    left: 222px;
    transform: rotate(199deg);
}
.triangle3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 70px solid #189184;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  top: 390px;
  left: 205px;
  transform: rotate(135deg);
}

.triangle4 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #fbc002;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  top: 138px;
    left: 278px;
    transform: rotate(360deg);
}
.triangle5 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #b20000;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  top: 240px;
  transform: rotate(180deg);
  left: 174px;
}
.carre {
  position: absolute;
  background-color: #f48400;
  width: 70px;
  height: 70px;
  top: 76px;
  left: 270px;
  transform: rotate(45deg);
}


.parallelogram {
  position: absolute;
  background-color: #81b442;
  width: 100px;
  height: 40px;
  
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  
  transform: rotate(161deg);
  left: 163px;
  top: 125px;

  transition: 3.5s;
} 
