/* .container {
    width: 500px;
    height: 500px;
    background-color: #333;
    margin: auto;
    margin-top: 130px;
    transform: scale(1.1);
    background: radial-gradient(ellipse at bottom, #cde7e0 -10%, #45a0c7 70%);
}

.tangram {
    padding: 20px 30px;
    position: relative;
} */

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid #d2696a;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(38deg);
    left: 165px;
    top: 255px;


}

.triangle2 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(218deg);
    left: 197px;
    top: 215px;

}

.triangle3 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transform: rotate(307deg);
    left: 374px;
    top: 48px;

}

.triangle4 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(262deg);
    left: 287px;
    top: 54px;
}


.triangle5 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(82deg);
    left: 301px;
    top: 155px;

}

.carre {
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    transform: rotate(128deg);
    left: 244px;
    top: 256px;

}

.parallelogram {
    position: absolute;
    background-color: #81b442;
    width: 115px;
    height: 60px;
    transition: 3.5s;
    position: absolute;
    background-color: #81b442;
    width: 115px;
    height: 60px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transform: rotate(127deg);
    left: 262px;
    top: 317px;


}
