.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #d2696a;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 71px;
  left: 327px;
  transform: rotate(180deg);
}

.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #7e2b7c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  left: 249px;
  top: 149px;
  transform: rotate(270deg);
}

.triangle3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 70px solid #189184;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  top: 177px;
  left: 318px;
  transform: rotate(45deg);
}

.triangle4 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #fbc002;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  left: 172px;
  top: 71px;
}

.triangle5 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #b20000;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  transform: rotate(90deg);
  left: 225px;
}

.carre {
  position: absolute;
  background-color: #f48400;
  width: 70px;
  height: 70px;
  left: 290px;
  top: 137px;
  transform: rotate(45deg);
}

.parallelogram {
  position: absolute;
  background-color: #81b442;

  width: 45px;
  height: 99px;
  transform: skew(-45deg) rotate(-90deg);
  left: 225px;
  top: 199px;

  left: 179px;
  top: 82px;
}
