.triangle{
    width: 0;
	height: 0;
	position: absolute;
    left: 215px;
    top: 158px;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    transform: rotate(225deg);
    transition: 0.5s;
    

}
.triangle2{
    width: 0;
	height: 0;
	position: absolute;
    left: 324px;
    top: 232px;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(315deg);
   
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    top: 155px;
    left: 265px;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transform: rotate(270deg); 
    transition: 1.5s;  
    
}

.triangle4{
    width: 0;
	height: 0;
    top: 200px;
    left: 132px;
	position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(225deg);
    transition: 2s;


}
.triangle5{
    top: 275px;
    left: 206px;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent; 
    transform: rotate(45deg);
    transition: 2.5s;

}
.carre{
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    top: 190px;
    left: 147px;
    transition: 3s;
    transform: rotate(90deg);

    
}
.parallelogram{
    position: absolute;
    background-color: #81b442;
    width: 115px; 
    height: 60px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
         transform: rotate(154deg);
         top: 212px;
         left: 47px;
         transition: 3.5s;
    
}
