/* .container {
    width: 470px;
    height: 450px;
    background-color: #333;
   margin: auto;
   margin-top:130px;
   transform: scale(1.1);
   background: radial-gradient(ellipse at bottom, #cde7e0 -10%, #45a0c7 70%);
}

.tangram {
    padding: 20px 30px;
    position: relative;
} */

.triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid #d2696a;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(45deg);
    left: 349px;
    top: 132px;


}

.triangle2 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transform: rotate(136deg);
    left: 386px;
    top: 132px;

}

.triangle3 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transform: rotate(270deg);
    left: 393px;
    top: 237px;

}

.triangle4 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(45deg);
    left: 369px;
    top: 353px;


}

.triangle5 {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transform: rotate(225deg);
    left: 296px;
    top: 280px;

}

.carre {
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    transform: rotate(90deg);
    left: 357px;
    top: 201px;

}

.parallelogram{
    position: absolute;
    background-color: #81b442;
    width: 115px; 
    height: 60px;
    transition: 3.5s;
    position: absolute;
    background-color: #81b442;
    width: 115px; 
    height: 60px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
         transform: rotate(154deg);
         top: 20px;
         left: 80px;
         transition: 3.5s;
}


.buttons{
    /* float: left; */
	
   display: flex;
   position: absolute;
   top: 510px;
   top: -36px;
}
button{
    background-color: #cb0b0b;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	/* width: 140px; */
	text-align: left;
	margin-bottom: 4px;
	cursor: pointer;
}