.container {
  width: 550px;
  height: 660px;
  background-color: #333;
  float: left;
}
.tangram {
  padding: 20px 30px;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #d2696a;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #7e2b7c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.triangle3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 70px solid #189184;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
}

.triangle4 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #fbc002;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
}
.triangle5 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #b20000;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
}
.carre {
  position: absolute;
  background-color: #f48400;
  width: 70px;
  height: 70px;
}
.parallelogram {
  position: absolute;
  background-color: #81b442;
  /* width: 185px;
  height: 190px; */

  /* clip-path: polygon(75% 75%, 75% 25%, 100% 50%, 100% 100%); */

  width: 60px;
  height: 100px;

  transform: skew(20deg, 20deg);
  
.buttons {
  float: left;
  width: 140px;
}
button {
  background-color: #cb0b0b;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 140px;
  text-align: left;
  margin-bottom: 4px;
  cursor: pointer;
}
