.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #d2696a;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 162px;
  left: 117px;
  transform: rotate(135deg);
}
.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid #7e2b7c;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 214px;
  left: 99px;
  transform: rotate(270deg);
}
.triangle3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 70px solid #189184;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  top: 297px;
  left: 284px;
  transform: rotate(270deg);
}

.triangle4 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #fbc002;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  top: 175px;
  left: 270px;
}
.triangle5 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 100px solid #b20000;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  top: 169px;
  transform: rotate(315deg);
  left: 181px;
}
.carre {
  position: absolute;
  background-color: #f48400;
  width: 70px;
  height: 70px;
  top: 294px;
  left: 337px;
  transform: rotate(45deg);
}
.parallelogram {
  position: absolute;
  background-color: #81b442;
  width: 185px;
  height: 190px;

  clip-path: polygon(75% 75%, 75% 25%, 100% 50%, 100% 100%);
}
